@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex&display=swap');

html{
    font-size: 20px;
    font-family: 'Roboto Flex', sans-serif;
}

*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-flow: column;
    gap: 1vw;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: rgb(17, 182, 160);
    padding: 5vw;
}

.rights{
    font-size: 1rem;
    color: rgb(255, 255, 255);
    /* text-shadow: 2px 2px 3px rgb(247, 247, 247); */
    height: 60px;

    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    user-select: none
}
.name{
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    /* text-shadow: 2px 2px 3px rgb(70, 68, 68); */
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    gap: 10px;  
}

img{
    width: 30px;
    transition-duration: 3000ms;
}

.calculator{
    background-color: rgb(36, 35, 35);
    height: fit-content;
    width: 400px;
    margin: 2vw 2vw 0 2vw;
    border-radius: 15px;
    display: flex;
    flex-flow: column;
    padding: 10px;
    gap: 15px;
    transition-duration: 500ms;
}

/* .calculator:hover{
    box-shadow: 10px 10px rgb(126, 124, 124);
} */

.calculator__screen{
    background-color: rgb(90, 190, 135);
    width:100%;
    min-height: 100px;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 5px 5px rgb(0, 0, 0);
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    padding: 1vw;
    gap: 5px;
    user-select: none
}

.equation{
    font-size: 0.8rem;
    width: 100%;
    text-align: right;
    color: rgb(0, 0, 0);
    overflow-wrap: break-word;
    font-weight: 400;
    min-height: 20px;
/* 
    font-family: 'Courier New', Courier, monospace; */
}

.result{
    font-size: 1.4rem;
    font-weight: 600;
    overflow-wrap: break-word;
    width: 100%;
    text-align: right;
/* 
    font-family: 'Courier New', Courier, monospace; */
}

.key-row{
    height: 70px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.key{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(80, 81, 82);
    height: 70px;
    font-size: 1.3rem;
    border-radius: 10px;
    width: 100px;
    box-shadow: 5px 5px rgb(0, 0, 0);
    transition-duration: 100ms;
    margin: 0 1%;
    flex-grow: 1;
    user-select: none
}

.key:hover{
    background-color: rgb(126, 124, 124);
    cursor: pointer;
}

.key--divide, .key--multiply, .key--minus,.key--plus,.key--equal{
    font-size: 2rem;
    color: rgb(116, 221, 163);
}

.key--equal{
    background-color: rgb(6, 190, 36);
    color: white;
    width: 200px;
    font-size: 2rem;
    flex-grow: 2;
}

.key--equal:hover{
    background-color: rgb(6, 216, 41);
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .calculator{
        width: 70vw;
    }
  }